
@{
    ViewBag.Title = "Profile";
}

<h2>Profile</h2>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/Portfolio/">Portfolio</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/Portfolio/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Portfolio/Profile">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Portfolio/Education">Education</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Portfolio/Projects">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Portfolio/Reference">References</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<table class="table">
    <tbody>
        <tr>
            <th scope="col">Name</th>
            <td>@Model.Name</td>
        </tr>
        <tr>
            <th scope="col">DOB</th>
            <td>@Model.DOB</td>
        </tr>
        <tr>
            <th scope="col">Nation</th>
            <td>@Model.Nation</td>
        </tr>
        <tr>
            <th scope="col">Blood Group</th>
            <td>@Model.BloodGroup</td>
        </tr>
        <tr>
            <th scope="col">Address</th>
            <td>@Model.Address</td>
        </tr>
        <tr>
            <th scope="col">Contact No</th>
            <td>@Model.ContactNo</td>
        </tr>
        <tr>
            <th scope="col">Hobbies</th>
            <td>
                @{
                    foreach (var item in Model.Hobbies)
                    {
                        <ul>@item</ul>
                    }
                }
            </td>
        </tr>
    </tbody>
</table>

